name: CI

on:
  pull_request:
  push:
  schedule:
    - cron: '30 12 * * *'
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node-version: [12.x, 14.x, 16.x, 17.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm install --no-package-lock
    - name: Run All Validations
      if: ${{ matrix.node-version != '12.x' }}
      run: npm run ci
    - name: Run Tests Only
      if: ${{ matrix.node-version == '12.x' }}
      run: npm run test

  install-global:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Package markdownlint-cli2
      run: npm pack
    - name: Install markdownlint-cli2 globally
      run: sudo npm install --global --no-package-lock --production markdownlint-cli2-*.tgz
    - name: Lint without formatters
      run: markdownlint-cli2 CONTRIBUTING.md README.md
    - name: Package formatter-default
      run: cd formatter-default && npm pack
    - name: Package formatter-json
      run: cd formatter-json && npm pack
    - name: Package formatter-junit
      run: cd formatter-junit && npm pack
    - name: Package formatter-pretty
      run: cd formatter-pretty && npm pack
    - name: Package formatter-summarize
      run: cd formatter-summarize && npm pack
    - name: Install formatters globally
      run: sudo npm install --global --no-package-lock --production ./formatter-default/*.tgz ./formatter-json/*.tgz ./formatter-junit/*.tgz ./formatter-pretty/*.tgz ./formatter-summarize/*.tgz
    - name: Lint with formatters
      run: cp test/outputFormatters-npm/.markdownlint-cli2.jsonc . && markdownlint-cli2 CONTRIBUTING.md README.md
    - name: Uninstall markdownlint-cli2 globally
      run: sudo npm uninstall --global --no-package-lock markdownlint-cli2
    - name: Install markdownlint-cli2 dependencies locally
      run: sudo npm install --no-package-lock --production
    - name: Lint with formatters
      run: node ./markdownlint-cli2 CONTRIBUTING.md README.md

  lint-dockerfile:
    runs-on: ubuntu-latest
    container: hadolint/hadolint:latest-alpine
    steps:
    - uses: actions/checkout@v2
    - run: hadolint docker/Dockerfile
